body {
    background-color: #eee;
    font-size: 16px;
}

.nav-item a {
    color: white;
}

section img {
    width: 100%;
}

.box {
    width: 650px;
    background-color: #fff;
    margin: 20px auto;
    padding: 40px;
    text-align: center;
    
}

.box-1 {
    position: relative;
    top: -100px;
}

.box-1  .abs {
    position: absolute;
    top: -25px;
    left: 45%;
}

h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

h1 , h2 , h3 {
    color: black;
}

p {
    color: hsl(0, 0%, 48%);
}

.green {
    color:hsl(176, 50%, 47%) ;
}


.btn-green {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    background-color: hsl(176, 50%, 47%);
    border-radius: 30px;
}

.btn {
    background-color:hsl(0, 0%, 48%) ;
}

.book-mark {
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book-mark span {
    margin-left: 5px;
}

.book-mark img {
    margin-left: -8px;
}

.box-2 .number {
    
    
    text-align: left;
}

.box-2 {
    margin-top: -100px;
}

.box-2 .progress {
    border-radius: 20px;
    height: 12px;
}

.box-2 .progress-bar {
    background-color: hsl(176, 50%, 47%);
}

.box-3 {
    text-align: left;
}

.card-1  {
    border: 1px solid #eee;
}

@media (max-width:800px) {
    .box {
        width: 90%;
    }
    .box-2 .number {
        text-align: center;
        margin-top: 15px;
    }
    .book-mark span {
        display: none;
    }
    h4 {
        font-size: 18px;
    }
}